<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://www.dropbox.com/scl/fi/vyexq7b5386a0iwteer2w/Sorn-Brawl-Stars_65.165_1770487954.ipa?rlkey=tr3450jpu30sqyzsdaj8q3jri&amp;st=meoydjoz&amp;dl=1</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.nullsbrawl.game</string>
                <key>bundle-version</key>
                <string>65.165</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Sorn Brawl Stars</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
